SECRET_KEY=***REMOVED_DJANGO_SECRET***

DATABASE_NAME=openup
DATABASE_USER=user_name
DATABASE_PASS=pass_here
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306

FCM_SERVER_KEY11='***REMOVED_FCM_KEY***'
STRIPE_KEY="***REMOVED_STRIPE_PK***"
STRIPE_SECRET="***REMOVED_STRIPE_SK***"
STRIPE_API="***REMOVED_STRIPE_SK***"
BASE_URL='http://192.168.1.5:8000/api'
MAIL_URL='192.168.1.5:8000'


# ALTER TABLE `users` ADD COLUMN `user_fcm_access_key` longtext NULL;