<html lang="en"> 
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    <title>Privacy Policy</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.228/pdf.min.js"></script>
    <script>
      

     

    </script>
    <style>
      canvas{
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        height: auto;
      }
      
    </style>
  </head>
  <body>
    <div id="pdfContainer" class=""  ></div>


    <script>
       pdfjsLib.getDocument('{% static "pdf/online_privacy_policy.pdf" %}').promise.then(function(pdf) {
  // PDF loaded successfully
  // Get the total number of pages
  var numPages = pdf.numPages;

  // Loop through all pages and render them
  for (var pageNum = 1; pageNum <= numPages; pageNum++) {
    pdf.getPage(pageNum).then(function(page) {
      // Create a canvas element to render the page

  
      var canvas = document.createElement('canvas');
      var context = canvas.getContext('2d');
      var viewport = page.getViewport({ scale: 1});
    
      canvas.height = viewport.height;
      canvas.width = viewport.width;

      // Append the canvas element to the container
      document.getElementById('pdfContainer').appendChild(canvas);

      // Render the page on the canvas
      page.render({
        canvasContext: context,
        viewport: viewport
      });
    });
  }
}, function(error) {
  // PDF loading error
  console.error(error);
});

    </script>
</body>
</html>

